{% extends "base.html" %}
{% block content %}
    <!-- sec 1 : hero -->
    <section class="hero-section">
        <div class="text">
            <h2>Hi I'm Aryan</h2>
            <p>Lorem is simply dummy text of the 
                prining and typesetting industry. 
                Lorem Ipsum has been the industry's 
                standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of 
                type and scrambled it to make a type specimen book.</p>
                <div class="links">
                    <a href="#skills">
                        <i class="fa-solid fa-code"></i>
                        <span>Skills</span>
                    </a>
                    <a href="#project">
                        <i class="fas fa-diagram-project"></i>
                        <span>Projects</span>
                    </a>
                    <a href="#contact">
                        <i class="fa-solid fa-envelope"></i>
                        <span>Contact</span>
                    </a>
                </div>
        </div>
        <div class="headshot">
            <img src="{{ url_for('static', filename='Images/hero-headshot.webp') }}" alt="Aryan Sharma">
        </div>
    </section>
    <!-- sec 2 : skills-->
    <section id="skills" class="skills-section">
        <h2>Skills</h2>
        <div class="text">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
        </div>

        <div class="cells">
            <div class="cell">
                <img src="{{ url_for('static', filename="Images/scikit_learn.webp") }}" alt="scikit learn">
                <span>Scikit learn</span>
            </div>

            <div class="cell">
                <img src="{{ url_for('static', filename="Images/flask.webp") }}" alt="flask">
                <span>Flask</span>
            </div>

            <div class="cell">
                <img src="{{ url_for('static', filename="Images/tensorflow.webp") }}" alt="tensorflow">
                <span>Tensorflow</span>
            </div>

            <div class="cell">
                <img src="{{ url_for('static', filename="Images/opencv.webp") }}" alt="opencv">
                <span>OpenCV</span>
            </div>

            <div class="cell">
                <img src="{{ url_for('static', filename="Images/python.webp") }}" alt="python">
                <span>Python</span>
            </div>
        </div>
    </section>
    <!-- sec 3 : project -->
     {% block projects %} {% endblock %}
    
    <!-- sec 4 : contact -->
    <section id="contact" class="contact-section">
        <h2>Contact</h2>
        <div class="group">
            <div class="text">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
            <form>
                <label for="name">Name</label>
                <input type="text" id="name">

                <label for="email">Email</label>
                <input type="email" id="email">

                <label for="message">Message</label>
                <textarea id="message" cols="30" rows="10"></textarea>
                <button type="submit">Send Message</button>
            </form>
        </div>
    </section>
{% endblock %}
