{% extends "base.html" %}
{% block content %}
    <!-- sec 1 : hero -->
    <section class="hero-section">
        <div class="text">
            <h2>Hi I'm Aryan</h2>
                <p>I am Aryan Sharma, student pursuing B Tech with specialization in Artificial Intelligence and Machine
                        Learning, throughout my IInd and IIIrd year I have worked on serveral machine learning and data science
                        projects.
                </p>
                <div class="links">
                    <a href="#skills">
                        <i class="fa-solid fa-code"></i>
                        <span>Skills</span>
                    </a>
                    <a href="#project">
                        <i class="fas fa-diagram-project"></i>
                        <span>Projects</span>
                    </a>
                    <a href="#contact">
                        <i class="fa-solid fa-envelope"></i>
                        <span>Contact</span>
                    </a>
                </div>
        </div>
        <div class="headshot">
            <img src="{{ url_for('static', filename='Images/hero-headshot.webp') }}" alt="Aryan Sharma">
        </div>
    </section>
    <!-- sec 2 : skills-->
    <section id="skills" class="skills-section">
        <h2>Skills</h2>
        <div class="text">
            I have worked on innovative projects such as Morse code transmission using flash signals which advanced my skill in open-cv,
            during that time I also learned about CNN models. After that I advanced my skill there and Implemented a 
            research paper "Image forgery detection" using hybrid method (CNN + Traditional methods) & created a simple telegram bot to classify dog vs cat.
            I have worked with scikit learn library to learn about core machine learning concepts and implemented several project such as Book Recommender System, which
            uses collaborative filtering with KNN.
        </div>

        <div class="cells">
            <div class="cell">
                <img src="{{ url_for('static', filename="Images/scikit_learn.webp") }}" alt="scikit learn">
                <span>Scikit learn</span>
            </div>

            <div class="cell">
                <img src="{{ url_for('static', filename="Images/flask.webp") }}" alt="flask">
                <span>Flask</span>
            </div>

            <div class="cell">
                <img src="{{ url_for('static', filename="Images/tensorflow.webp") }}" alt="tensorflow">
                <span>Tensorflow</span>
            </div>

            <div class="cell">
                <img src="{{ url_for('static', filename="Images/opencv.webp") }}" alt="opencv">
                <span>OpenCV</span>
            </div>

            <div class="cell">
                <img src="{{ url_for('static', filename="Images/python.webp") }}" alt="python">
                <span>Python</span>
            </div>
        </div>
    </section>
    <!-- sec 3 : project -->
     {% block projects %} {% endblock %}
    
    <!-- sec 4 : contact -->
    <section id="contact" class="contact-section">
        <h2>Contact</h2>
        <div class="group">
            <div class="text">
                If you are interested to collaborate and work on exciting projects. Say hello to me in mail for sure. I use linkedin and gmail.
                I am currently looking for research internships. Thank you for going through my portfolio. Looking for your feedback.
                <br> <br>
                Thank you
            </div>
            <form>
                <label for="name">Name</label>
                <input type="text" id="name">

                <label for="email">Email</label>
                <input type="email" id="email">

                <label for="message">Message</label>
                <textarea id="message" cols="30" rows="10"></textarea>
                <button type="submit">Send Message</button>
            </form>
        </div>
    </section>
{% endblock %}
